<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="leaftaps">

	<test thread-count="2" name="leads" parallel="classes" verbose="2">
		<classes>
			<class name="testcase.CreateLead" />
			 <class name="testcase.EditLead" />
			 <class name="testcase.DeleteLead" /> 
		</classes>
	</test> <!-- Test -->
	
	
		
</suite> <!-- Suite -->
